
// Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900&text=SAGAone|Roboto:400,400i,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// JQuery UI
@import '~jquery-ui/themes/base/all.css';

[v-cloak] {
    display:none;
}

:root {
    scroll-behavior: smooth;
}

/**
 * WELCOME PAGE
 */
.home {
    background-color: $primary;
    .welcome {
        color: $gray-200;
        font-size: 1rem;
        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }
        .welcome-links {
            font-weight: bold;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }
        .brand {
            font-size: 3.5rem;
            transition: 0.2s;
        }
        @include media-breakpoint-up(sm) {
            .brand {
                font-size: 6rem;
            }
        }
    }
}
.brand {
    font-family: "Cinzel Decorative", cursive;
    .saga {
        font-weight: 900;
        text-transform: uppercase;
    }
}

/**
 * COMMON ELEMENTS
 */
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.below-topbar, .belowTopbar {
    padding-top: 64px;
}

/*
 * TOP BAR
 */
.notifications-dropdown{
    @include media-breakpoint-up(md) {
        width: 250%;
    }
}

/*
 * SIDEBAR
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 64px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


/**
 * ENTRY EDITOR
 */
#editor, #toolbar, .ql-editor.ql-snow, .ql-toolbar.ql-snow {
    border: 0;
    font-size: $font-size-lg;
    font-family: $font-family-base;
    line-height: $line-height-base;
}
#editor {
    margin-top: 95px;
    height: 73vh;
}
.ql-editor {
    min-height: 50vh;
}
.ql-toolbar {
    background-color: $white;
    position: fixed;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
}
.entry-container {
    margin-top: 108px;
}

/**
 * FORMS
 */
label {
    font-weight: bold;
}
// YES/NO Rocker Switch
.rocker {
    display: inline-block;
    position: relative;
    font-size: 0.8em;     // Switch size
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;

    &::before {
        content: "";
        position: absolute;
        top: 0.5em;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #999;
        border: 0.5em solid #eee;
        border-bottom: 0;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch-left,
    .switch-right {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5em;
        width: 3em;
        transition: 0.2s;
    }

    .switch-left {
        height: 2.4em;
        width: 2.75em;
        left: 0.85em;
        bottom: 0.4em;
        background-color: #ddd;
        transform: rotate(15deg) skewX(15deg);
    }

    .switch-right {
        right: 0.5em;
        bottom: 0;
        background-color: $danger;
        color: #fff;
    }

    .switch-left::before,
    .switch-right::before {
        content: "";
        position: absolute;
        width: 0.4em;
        height: 2.45em;
        bottom: -0.45em;
        background-color: #ccc;
        transform: skewY(-65deg);
    }

    .switch-left::before {
        left: -0.4em;
    }

    .switch-right::before {
        right: -0.375em;
        background-color: transparent;
        transform: skewY(65deg);
    }
}

.rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
}

input:checked + .switch-left {
    background-color: $primary;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
    color: #333;
}

input:checked:focus + .switch-left {
    color: #fff;
}

input:focus + .switch-left + .switch-right {
    color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
    color: #333;
}

/**
 * VUE TRANSITIONS
 */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.flip-list-move {
  transition: transform 0.7s;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.listup-enter-active, .listup-leave-active {
  transition: all 1s;
}
.listup-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
