
// Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900|Roboto:400,400i,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/**
 * "HOME" LAYOUT
 */
.home {
    background-color: $primary;
    .welcome {
        color: $gray-200;
        .brand {
            font-size: 3.5rem;
            transition: 0.2s;
        }
        @include media-breakpoint-up(sm) {
            .brand {
                font-size: 6rem;
            }
        }
    }
}
.brand {
    font-family: "Cinzel Decorative", cursive;
    .saga {
        font-weight: 900;
        text-transform: uppercase;
    }
}

/**
 * COMMON ELEMENTS
 */
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.below-topbar, .belowTopbar {
    padding-top: 64px;
}
.list-user-pic {
    margin-right: $spacer / 2;
}

/*
 * SIDEBAR
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 64px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.entry-body {
    font-size: 1rem;
    line-height: 1.6;
}

/**
 * JOURNAL CARDS
 */
.journal-card {
    .journal-card-cover {
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        a {
            width: 100%;
            height:100%;
            display:block;
        }
    }
}

/**
 * ENTRY EDITOR
 */
#edit-content {
    #editor, .ql-toolbar.ql-snow {
        border-left: 0;
        border-right: 0;
    }
}
#editor {
    font-size: $font-size-lg;
    font-family: $font-family-base;
    p {
        line-height: $line-height-base;
    }
}
